<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Edit Post</h2>

    <form class="post-form" action="/save" method="post">
        <label>Title</label><br>
        <input type="text" name="title" value="<%= post.title %>"><br><br>

        <label>Content</label><br>
        <input type="text" name="content" value="<%= post.content %>"><br><br>
        <input type="hidden" name="id" value="<%= post.id %>" rows="5"><br><br>
        

        <button type="submit">Save</button>
    </form>
</body>
</html>