<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <%- include("partials/header") %>

    <div class="container">
      <div class="blog-grid" id="blogGrid">
          <% posts.forEach(post => { %>
          <a href="/post/<%= post.id %>">
            <h3> <%= post.title %> </h3> </a>
          <% }) %>
          <!-- Cards will be dynamically generated -->
      </div>


    </div>

    <%- include("partials/footer") %>
    <script src="/js/script.js"></script>
  </body>
</html>
